.inputsbasic{
    margin-top: 0px;
    margin-right: 1%;
    margin-bottom: 0px;
    margin-left: 1%;
    width: 100%;
}

.rejilla{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
}

.verticalCenter{
    vertical-align: middle 
}

.correcion{
    margin-top: 0px;
    margin-right: 1%;
    margin-bottom: 0px;
    margin-left: 21px;
    width: 100%;
}