<!-- <nb-card>
    <nb-card-header>Documentos</nb-card-header> -->
<nb-card-body class="example-items-rows">
    <div class="rejilla">
        <div>
            <label class="label">Cedula:</label>
            <div class="col-sm-9">
                <img class="verticalCenter" src="assets/icons/docs/icon_cedula.png" alt="cedula.png" width="48"
                    height="34">
                <input class="inputsbasic" type="file" nbInput id="input_cedula" name="input_cedula">
            </div>
        </div>
        <div>
            <label class="label">Comprobante de Nomina:</label>
            <div>
                <img class="verticalCenter" src="assets/icons/docs/icon_doc_nomina.png" alt="cedula.png" width="29"
                    height="40">
                <input class="inputsbasic" type="file" nbInput id="input_nomina">
            </div>
        </div>
    </div>

    <div class="rejilla">
        <div>
            <label class="label">Certificado Laboral:</label>
            <div class="col-sm-9">
                <img class="verticalCenter" src="assets/icons/docs/icon_doc.png" alt="cedula.png" width="29"
                    height="40">
                <input class="correcion" type="file" nbInput id="input_claboral">
            </div>
        </div>
        <div>
            <label class="label">Hoja de Vida:</label>
            <div>
                <img class="verticalCenter" src="assets/icons/docs/icon_hojadevida.png" alt="cedula.png" width="29"
                    height="40">
                <input class="inputsbasic" type="file" nbInput id="input_hvida">
            </div>
        </div>
    </div>

    <div class="boton">
        <button nbButton outline status="success" (click)="loadFiles()" [nbSpinner]="load" nbSpinnerStatus="warning">
            Cargar Archivos
        </button>
    </div>

</nb-card-body>
<!-- </nb-card> -->