<nb-card>
    <nb-card-body>

        <nb-tabset>
            <nb-tab tabIcon="person-outline" tabTitle="Datos Personales" responsive>
                <app-formulario></app-formulario>
            </nb-tab>
            <nb-tab tabIcon="attach-2-outline" tabTitle="Sus Documentos" responsive>
                <app-ad-documentos></app-ad-documentos>
            </nb-tab>
            <nb-tab tabIcon="percent-outline" tabTitle="Sus Datos Financieros" responsive>
                <app-datosfinancieros></app-datosfinancieros>
            </nb-tab>
        </nb-tabset>

    </nb-card-body>
</nb-card>