<nb-layout>

    <nb-layout-column left>
        <h5 class="paddingColumna">Información de Contacto</h5>
        <ul>
            <li>Nombres: Nombres de Usuario</li>
            <li>Apellidos: Apellidos de Usuario</li>
            <li>Telefono: (+57)1234567890</li>
            <li>Telefono2: (+57)1234567890</li>
            <li>Correo Electronico: email@gmail.com</li>
        </ul>

    </nb-layout-column>

    <nb-layout-column>
        <h5 class="paddingColumna">Mis Solic</h5>
    </nb-layout-column>
</nb-layout>


<!--nb-card status="success">
    <nb-card-header>Nebula</nb-card-header>
    <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer>By Wikipedia</nb-card-footer>
</nb-card-->