<!-- <nb-card-header>Información Personal</nb-card-header> -->
<nb-card-body class="example-items-rows">
    <div class="rejilla">
        <div>
            <label class="label">¿Es empleado activo o pensionando?</label>
            <div class="col-sm-9">
                <nb-select class="inputsbasic">
                    <nb-option value="0">Activo</nb-option>
                    <nb-option value="1">Pensionado</nb-option>
                </nb-select>
            </div>
        </div>
        <div>
            <label class="label">¿A que sector pertenece?</label>
            <div class="col-sm-9">
                <nb-select class="inputsbasic" *ngIf="sector">
                    <nb-option *ngFor="let sec of sector" [value]="sec">{{ sec }}</nb-option>
                </nb-select>
            </div>
        </div>
    </div>

    <!-- <div>
        <label class="label">Selecciona su convenio</label>
        <div class="col-sm-9">
            <nb-select class="inputsbasic" *ngIf="convenios">
                <nb-option *ngFor="let convenio of convenios" [value]="convenio" disabled>{{ convenio }}</nb-option>
            </nb-select>
        </div>
    </div> -->

    <div class="divButton">
        <button (click)="enviarDatos()" nbButton>Confirmar</button>
    </div>

</nb-card-body>