<!-- <nb-card-header>Información Personal</nb-card-header> -->
<nb-card-body class="example-items-rows">
    <div class="rejilla">
        <div>
            <label class="label">¿Es empleado activo o pensionando?</label>
            <nb-select class="inputsbasic">
                <nb-option value="0">Activo</nb-option>
                <nb-option value="1">Pensionado</nb-option>
            </nb-select>
        </div>
        <div>
            <label class="label">¿A que sector pertenece?</label>
            <!-- TODO: Cargue la lista de opciones desde el componente -->
            <nb-select class="inputsbasic">
                <nb-option value="0">Fuerzas Armadas</nb-option>
                <nb-option value="1">Pensionado</nb-option>
            </nb-select>
        </div>
    </div>

    <div>
        <label class="label">Selecciona su convenio</label>
        <!-- TODO: Cargue la lista de opciones desde el componente -->
        <div>
            <nb-select class="inputsbasic">
                <nb-option value="0">Activo</nb-option>
                <nb-option value="1">Pensionado</nb-option>
            </nb-select>
        </div>
    </div>

</nb-card-body>