<!-- <nb-card>
    <nb-card-header>Información Personal</nb-card-header> -->
    <nb-card-body class="example-items-rows">
        <div class="rejilla">
            <div>
                <label class="label">Primer Nombre:</label>
                <div class="col-sm-9">
                    <input class="inputsbasic" type="text" nbInput placeholder="{{p_nombre}}" disabled>
                </div>
            </div>
            <div>
                <label class="label">Segundo Nombre:</label>
                <div>
                    <input class="inputsbasic" type="text" nbInput placeholder="{{s_nombre}}" disabled>
                </div>
            </div>
        </div>

        <div class="rejilla">
            <div>
                <label class="label">Primer Apellido:</label>
                <div class="col-sm-9">
                    <input class="inputsbasic" type="text" nbInput placeholder="{{p_apellido}}" disabled>
                </div>
            </div>
            <div>
                <label class="label">Segundo apellido:</label>
                <div>
                    <input class="inputsbasic" type="text" nbInput placeholder="{{s_apellido}}" disabled>
                </div>
            </div>
        </div>

        <div class="rejilla">
            <div>
                <label class="label">Número de Documento:</label>
                <div class="col-sm-9">
                    <input class="inputsbasic" type="number" nbInput placeholder="{{numDocumento}}" disabled>
                </div>
            </div>
            <div>
                <label class="label">Correo Electronico:</label>
                <div>
                    <input class="inputsbasic" type="email" nbInput placeholder="{{email}}" disabled>
                </div>
            </div>
        </div>

        <div class="rejilla">
            <div>
                <label class="label">Departamento de residencia:</label>
                <div class="col-sm-9">
                    <input class="inputsbasic" type="text" nbInput placeholder="{{departamento}}" disabled>
                </div>
            </div>
            <div>
                <label class="label">Ciudad de residencia:</label>
                <div>
                    <input class="inputsbasic" type="text" nbInput placeholder="{{ciudad}}" disabled>
                </div>
            </div>
        </div>


        <div class="rejilla">
            <div>
                <label class="label">Celular:</label>
                <div class="col-sm-9">
                    <input class="inputsbasic" type="text" nbInput placeholder="{{celular}}" disabled>
                </div>
            </div>
            <div>
                <label class="label">Telefono fijo:</label>
                <div>
                    <input class="inputsbasic" type="text" nbInput placeholder="{{telefono}}" disabled>
                </div>
            </div>
        </div>

        <button (click)="openEditDates()" nbButton>Editar</button>

    </nb-card-body>
<!-- </nb-card> -->