<nb-card>
    <nb-card-header>Información Basica</nb-card-header>
    <nb-card-body class="example-items-rows">
        <div class="rejilla">
            <div>
                <label class="label">Nombres:</label>
                <div class="col-sm-9">
                    <input class="inputsbasic" type="text" nbInput placeholder="Fredy Gerardo" disabled>
                </div>
            </div>
            <div>
                <label class="label">Apellidos:</label>
                <div>
                    <input class="inputsbasic" type="text" nbInput placeholder="Méndez Gonzalez" disabled>
                </div>
            </div>
        </div>

        <div class="rejilla">
            <div>
                <label class="label">Número de Documento:</label>
                <div class="col-sm-9">
                    <input class="inputsbasic" type="number" nbInput placeholder="0123456789" disabled>
                </div>
            </div>
            <div>
                <label class="label">Correo Electronico:</label>
                <div>
                    <input class="inputsbasic" type="email" nbInput placeholder="fredy@hotmail.com" disabled>
                </div>
            </div>
        </div>

        <div class="rejilla">
            <div>
                <label class="label">Departamento de residencia:</label>
                <div class="col-sm-9">
                    <input class="inputsbasic" type="text" nbInput placeholder="Cundinamarca" disabled>
                </div>
            </div>
            <div>
                <label class="label">Ciudad de residencia:</label>
                <div>
                    <input class="inputsbasic" type="text" nbInput placeholder="Bogota" disabled>
                </div>
            </div>
        </div>


        <div class="rejilla">
            <div>
                <label class="label">Celular:</label>
                <div class="col-sm-9">
                    <input class="inputsbasic" type="text" nbInput placeholder="3111234587" disabled>
                </div>
            </div>
            <div>
                <label class="label">Telefono fijo:</label>
                <div>
                    <input class="inputsbasic" type="text" nbInput placeholder="8445687" disabled>
                </div>
            </div>
        </div>

    </nb-card-body>
</nb-card>