<nb-accordion multi>
    <nb-accordion-item>
        <nb-accordion-item-header>
            ¿Qué es FinanRed?
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
            Originally, nebula was a name for any diffuse astronomical object,
            including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
        <nb-accordion-item-header>
            ¿Qué es un crédito de Libranza?
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
            Originally, nebula was a name for any diffuse astronomical object,
            including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
        <nb-accordion-item-header>
            ¿Tercera Pregunta?
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
            Originally, nebula was a name for any diffuse astronomical object,
            including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
        <nb-accordion-item-header>
            ¿Cuarta Pregunta?
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
            Originally, nebula was a name for any diffuse astronomical object,
            including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
        <nb-accordion-item-header>
            ¿Quinta Pregunta?
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
            Originally, nebula was a name for any diffuse astronomical object,
            including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
        <nb-accordion-item-header>
            ¿Sexta Pregunta?
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
            Originally, nebula was a name for any diffuse astronomical object,
            including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>