<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step [label]="labelOne">
          <ng-template #labelOne>Formulario</ng-template>
          <h3>Formulario</h3>
          <div class="divDocument">
            <div class="divColumDocuments">
              <div>
                <img src="assets/icons/docs/icon_cedula.png" alt="cedula.png" width="48" height="34">
              </div>
              <div class="divTitleDocument">Tus Datos</div>
              <div class="divtextDocument">Ingresa tus datos y pronto nos comunicaremos contigo.</div>
            </div>
          </div>
          <button nbButton disabled nbStepperNext status="basic">Anterior</button>
          <button nbButton nbStepperNext status="basic">siguiente</button>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Carga tus Documentos</ng-template>
          <h3>Documentos</h3>
          <p class="lorem">
            Para tu solicitud de credito es necesario que suministres los siguientes documentos.
          </p>
          <p class="lorem">
            Deben estar en formato pdf o jpg.
          </p>
          <div class="divDocument">
            <div class="divColumDocuments">
              <div>
                <img src="assets/icons/docs/icon_cedula.png" alt="cedula.png" width="48" height="34">
              </div>
              <div class="divTitleDocument">Cédula</div>
              <div class="divtextDocument">Fotocopia de la cédula de ciudadanía por los dos lados</div>
            </div>
            <div class="divColumDocuments">
              <div>
                <img src="assets/icons/docs/icon_doc_nomina.png" alt="cedula.png" width="29" height="40">
              </div>
              <div class="divTitleDocument">Desprendibles</div>
              <div class="divtextDocument">Últimos dos comprobantes de pago de nómina</div>
            </div>
            <div class="divColumDocuments">
              <div>
                <img src="assets/icons/docs/icon_doc.png" alt="cedula.png" width="29" height="40">
              </div>
              <div class="divTitleDocument">Certificado laboral</div>
              <div class="divtextDocument">Especificando cargo, salario, antiguedad y tipo de contrato. Expedido no mayor a 30 días.</div>
            </div>
            <div class="divColumDocuments">
              <div>
                <img src="assets/icons/docs/icon_hojadevida.png" alt="cedula.png" width="29" height="40">
              </div>
              <div class="divTitleDocument">Hoja de Vida</div>
              <div class="divtextDocument">Información Actualizada</div>
            </div>
          </div>
          <button nbButton nbStepperPrevious status="basic">Anterior</button>
          <button nbButton nbStepperNext status="basic">siguiente</button>
        </nb-step>
        <nb-step label="Espera nuestra validación">
          <h3>Validación</h3>
          <div class="divDocument">
            <div class="divColumDocuments">
              <div>
                <img src="assets/icons/docs/icon_cedula.png" alt="cedula.png" width="48" height="34">
              </div>
              <div class="divTitleDocument">Verificaremos tu Información</div>
              <div class="divtextDocument">Una vez tu información sea corroborada te contactaremos.</div>
            </div>
          </div>
          <button nbButton nbStepperPrevious status="basic">Anterior</button>
          <button nbButton nbStepperNext status="basic">siguiente</button>
        </nb-step>
        <nb-step [label]="labelFour">
          <ng-template #labelFour>Obten tu Credito</ng-template>
          <h3>Disfruta tu Credito</h3>
          <div class="divDocument">
            <div class="divColumDocuments">
              <div>
                <img src="assets/icons/docs/icon_cedula.png" alt="cedula.png" width="48" height="34">
              </div>
              <div class="divTitleDocument">Cumple tus sueños.</div>
              <div class="divtextDocument"></div>
            </div>
          </div>
          <button nbButton nbStepperPrevious status="basic">Anterior</button>
          <button nbButton disabled nbStepperNext status="basic">siguiente</button>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
  
<!--   <app-formulario></app-formulario>
  <app-ad-documentos></app-ad-documentos> -->