//@import '@nebular/theme/styles/global/_breakpoints';

nb-layout{
    width:100%;
    height:100%;
}

nb-layout-column:first-child {
    flex: 1 !important;
    background-color: white;
}

nb-layout-column:last-child {
    flex: 3 !important;
    background-image: url("img/background_login.jpg");
}

.nb-theme-default nb-layout .layout {
    min-height: 100vh;
 }