<nb-layout>
  <nb-layout-header fixed>

    <div>
      <h1>FinanRed</h1>
    </div>

    <div>
      <ul class="menu">
        <li>
          <nb-icon icon="bell-outline" status="basic"></nb-icon>
        </li>
        <li>Fredy Méndez</li>
      </ul>
    </div>

    <!-- Por implementar NbActionsComponent por ahora no encuentra los iconos -->
    <!--nb-actions size="small">
      <nb-action icon="nb-person"></nb-action>
    </nb-actions-->
  </nb-layout-header>

  <nb-sidebar>
    <nb-card>
      <nb-menu [items]="items">
      </nb-menu>
    </nb-card>
  </nb-sidebar>

  <nb-layout-column>
    <div>
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>

</nb-layout>