<nb-layout>
  <nb-layout-header fixed>
    <div class="contenedor">

      <div>
        <h1>FinanRed</h1>
      </div>

      <div class="alineacionDateUser">
        <ul class="menu">
          <li>
            <nb-icon icon="bell-outline" status="basic"></nb-icon>
          </li>
          <li>{{dateUser["name"]}}</li>
        </ul>
        <nb-user size="large" [picture]="pictureUser" onlyPicture>
        </nb-user>
      </div>

    </div>


    <!-- Por implementar NbActionsComponent por ahora no encuentra los iconos -->
    <!--nb-actions size="small">
      <nb-action icon="nb-person"></nb-action>
    </nb-actions-->
  </nb-layout-header>

  <nb-sidebar>
    <nb-card>
      <nb-menu [items]="items">
      </nb-menu>
    </nb-card>
  </nb-sidebar>

  <nb-layout-column>
    <div>
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>

</nb-layout>